
@using WebAppProject.Models;


<div class="d-flex align-items-center justify-content-between mb-4">
    <h6 class="mb-0">User Account Manager</h6>
    <button class="btn btn-sm btn-success" onclick="openmodal('/Admin/Account/Create')">Create</button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

</div>
<div class="table-responsive">
    <table class="table text-start align-middle table-bordered table-hover mb-0">
        <thead>
            <tr class="text-dark">
                <th scope="col"><input class="form-check-input" type="checkbox"></th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Account item in ViewBag.AccountList)
            {
                <tr>
                    <td><input class="form-check-input" type="checkbox"></td>
                    <th scope="col">@item.EmailAddress</th>
                    <td>
                        <a class="btn btn-sm btn-primary" href="">Detail</a>

                    </td>
                </tr>
            }
           
        </tbody>
    </table>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll('input').forEach(function (input) {
            input.addEventListener('keypress', function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault(); // Ngăn chặn hành động mặc định của nút Enter
                }
            });
        });
    });
    function CheckPass() {
        var pass = document.getElementById('password').value;
        var passC = document.getElementById('passwordconfirm').value;
        if (pass == passC) {
            var formData = new FormData();
            formData.append('EmailAddress', $('#exampleInputEmail1').val());
            formData.append('Password', $('#password').val());
            formData.append('PasswordConfirm', $('#passwordconfirm').val());
            $.ajax({
                url: '/Admin/Account/CreateAccount',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (!data.success) {
                        // Nếu không thành công, hiển thị thông điệp lỗi trong modal
                        document.getElementById("errcheck").innerHTML = data.message;
                        $('#myModalContent').html(data.message);
                        $('#myModal').modal('show');
                    } else {
                        // Nếu thành công, chèn nội dung trả về vào modal và hiển thị
                        $('#myModalContent').html(data);
                        $('#myModal').modal('show');
                    }
                    $('#myModal').on('hidden.bs.modal', function (e) {
                        data.message = "";
                    });
                },
                error: function (xhr, status, error) {
                    // Xử lý lỗi
                }
            });
        }
        else {
            document.getElementById("errcheck").innerHTML = "Password And PasswordConfirm Not Valid"
        }
    }
</script>