@model X.PagedList.IPagedList<WebAppProject.Models.Account>;
@using WebAppProject.Models;
@using X.PagedList.Mvc.Core


<div class="d-flex align-items-center justify-content-between mb-4">
    <h6 class="mb-0">User Account Manager</h6>
    <button class="btn btn-sm btn-success" onclick="openmodal('/Admin/Account/Create')">Create</button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

</div>
<div class="table-responsive">
    <table class="table text-start align-middle table-bordered table-hover mb-0">
        <thead>
            <tr class="text-dark">
                <th scope="col"><input class="form-check-input" type="checkbox"></th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Account item in ViewBag.AccountList)
            {
                <tr>
                    <td><input class="form-check-input" type="checkbox"></td>
                    <th scope="col">@item.EmailAddress</th>
                    <td>
                        <button class="btn btn-sm btn-primary" onclick="openmodal('/Admin/Account/Edit?input=@item.Id')">Edit</button>
                        <button class="btn btn-sm btn-danger" onclick="openmodal('/Admin/Account/Delete?input=@item.Id')">Delete</button>
                    </td>
                </tr>
            }
           
        </tbody>
    </table>
</div> 
<div style="display:flex">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>
@* @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
{
    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
    DisplayLinkToLastPage = PagedListDisplayMode.Always,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always,
    LinkToPreviousPageFormat = "<i class='fa fa-angle-left'></i>",
    LinkToNextPageFormat = ">>"
}) *@